page-pasoapasofundacion {


    .icon-principal{
        width: 110px;
        height: 110px;
    }

    #imgspiderman{
        width: 200px;
        height: 250px;
    }

    .slides{
        
        opacity:0.9; /* Opacidad 90% */
        background: #0b133f;
        color: rgb(255, 255, 255);
        
    }
  
}
